In [1]:
import requests
from pandas.io.json import json_normalize
import pandas as pd

In [4]:
#Ouverture en Dataframe
URL = "/home/moi/Documents/Projet_movies/File-actors-Alex-Cyprien.csv"
acteurs = pd.read_csv(URL, sep=',')
print(acteurs)

               Stage-name dates-of-work begining  dates-of-work end  \
0            Willie Aames                    NaN                NaN
1              Bud Abbott                   1939             1956.0
2          Diahnne Abbott                   1976             1982.0
3           George Abbott                   1928             1958.0
4             John Abbott                   1937             1975.0
5           Philip Abbott                   1957             1973.0
6      Kareem AbdulJabbar                    NaN                NaN
7             Walter Abel                   1935             1974.0
8        F.Murray Abraham                   1983                NaN
9          James Abrahams                    NaN                NaN
10            Maury Abram                    NaN                NaN
11         Victoria Abril                   1985             1990.0
12           Joss Ackland                   1949             1979.0
13            Dan Ackroyd                   1979             1990.0
14          David Ackroyd                    NaN                NaN
15          Peter Ackroyd                    NaN                NaN
16         Rodolfo Acosta                   1948             1967.0
17            Eddie Acuff                   1935             1947.0
18             Jean Adair                   1922             1947.0
19            Alfred Adam                   1935             1961.0
20            Ronald Adam                   1938             1971.0
21            John Adames                    NaN                NaN
22          Beverly Adams                   1963             1967.0
23           Brooke Adams                   1977             1983.0
24           Catlin Adams                    NaN                NaN
25          Dorothy Adams                   1938             1976.0
26             Edie Adams                   1960             1979.0
27             Jane Adams                   1945             1949.0
28             Jill Adams                   1954             1966.0
29            Julie Adams                   1947             1981.0
...                   ...                    ...                ...
6795           Skip Young                    NaN                NaN
6796        Stephen Young                    NaN                NaN
6797           Tony Young                   1963             1973.0
6798     Victor Sen Young                   1980                NaN
6799         Harris Yulin                   1971             1983.0
6800          Johnny Yune                   1983                NaN
6801             Sen Yung                   1940             1972.0
6802        Blanche Yurka                   1936             1957.0
6803         George Zacco                    NaN                NaN
6804           Pia Zadora                   1981             1983.0
6805          Lenore Zann                    NaN                NaN
6806          Frank Zappa                    NaN                NaN
6807       Michael Zaslow                    NaN                NaN
6808        Suzanne Zenor                    NaN                NaN
6809      Renee Zellweger                    NaN             1997.0
6810     Delphine Zentout                   1989                NaN
6811        Anthony Zerbe                   1967             1983.0
6812       Mai Zetterling                   1944             1983.0
6813       Carla Ziegfeld                    NaN                NaN
6814        Sonja Ziemann                   1942             1970.0
6815  Efrem Zimbalist Jr.                   1949             1978.0
6816        Laurie Zimmer                    NaN                NaN
6817          Adrian Zmed                    NaN                NaN
6818          Vera Zorina                   1939             1944.0
6819         George Zucco                   1930             1951.0
6820         David Zucker                    NaN                NaN
6821         Jerry Zucker                    NaN                NaN
6822        Daphne Zuniga                    NaN                NaN
6823     Frantisek Zvarik                    NaN                NaN
6824     Darrell Zwerling                    NaN                NaN

     family name at birth  given name at birth gender date-of-birth  \
0                   Aames              William      M          1960
1                  Abbott              William      M          1895
2                     NaN                  NaN      F          1945
3                  Abbott               George      M          1887
4                  Abbott                 John      M          1905
5                  Abbott               Philip      M          1923
6                     NaN                  NaN      M           NaN
7                    Abel               Walter      M          1898
8                     NaN                  NaN      M           NaN
9                     NaN                  NaN      M           NaN
10                    NaN                  NaN    NaN           NaN
11                    NaN                  NaN      F           NaN
12                Ackland                 Joss      M          1928
13                Ackroyd                  Dan      M           NaN
14                    NaN                  NaN      M          1940
15                    NaN                  NaN      M           NaN
16                 Acosta              Rodolfo      M          1920
17                  Acuff                Eddie      M          1902
18                  Adair                 Jean      F          1872
19                   Adam               Alfred      M          1909
20                   Adam               Ronald      M          1896
21                    NaN                  NaN      M           NaN
22                  Adams              Beverly      F          1945
23                  Adams               Brooke      F          1949
24                  Barab               Catlin    NaN          1950
25                  Adams              Dorothy      F          1915
26                   Enke      Elizabeth Edith      F          1929
27                  Adams                 Jane      F          1921
28                  Adams                Julia      F          1931
29                  Adams  S{Betty May (Julia)      F          1926
...                   ...                  ...    ...           ...
6795                  NaN                  NaN      M           NaN
6796                  NaN                  NaN      M           NaN
6797                Young                 Tony      M          1932
6798                  NaN                  NaN      M           NaN
6799                Yulin               Harris      M           NaN
6800                 Yune                  NaN      M           NaN
6801                 Yung           Victor Sen      M          1915
6802                Yurka              Blanche      F          1887
6803                  NaN                  NaN      M           NaN
6804               Zadora                  Pia      F          1956
6805                  NaN                  NaN      F           NaN
6806                  NaN                  NaN      M           NaN
6807                  NaN                  NaN      M           NaN
6808                  NaN                  NaN      F           NaN
6809                  fmn                   gn      G          1970
6810              Zentout             Delphine      F          1973
6811                Zerbe              Anthony      M           NaN
6812           Zetterling                  Mai      F          1925
6813                  NaN                  NaN      F           NaN
6814              Ziemann                Sonja      F          1926
6815            Zimbalist            Efrem Jr.      M          1918
6816                  NaN                  NaN      F           NaN
6817                  NaN                  NaN      M           NaN
6818              Hartwig         Eva Brigitta      F          1917
6819                Zucco               George      M          1886
6820                  NaN                  NaN      M           NaN
6821                  NaN                  NaN      M           NaN
6822                  NaN                  NaN      F           NaN
6823                  NaN                  NaN      M           NaN
6824                  NaN                  NaN      M           NaN

     date-of-death (199x if alive beyond dow)  \
0                                        199x
1                                        1974
2                                        199x
3                                        199x
4                                        199x
5                                        199x
6                                        199x
7                                        1987
8                                        199x
9                                        199x
10                                       199x
11                                       199x
12                                       199x
13                                       199x
14                                       199x
15                                       199x
16                                       1974
17                                       1956
18                                       1956
19                                       1982
20                                       1979
21                                       199x
22                                       199x
23                                       199x
24                                       199x
25                                       199x
26                                       199x
27                                       199x
28                                       199x
29                                       199x
...                                       ...
6795                                     199x
6796                                     199x
6797                                     199x
6798                                     199x
6799                                      NaN
6800                                     199x
6801                                     199x
6802                                     1974
6803                                     199x
6804                                     199x
6805                                     199x
6806                                     199x
6807                                     199x
6808                                     199x
6809                                     199x
6810                                     199x
6811                                      NaN
6812                                     199x
6813                                     199x
6814                                     199x
6815                                     199x
6816                                     199x
6817                                     199x
6818                                     199x
6819                                     1960
6820                                     199x
6821                                     199x
6822                                     199x
6823                                     199x
6824                                     199x

                             role type    Origin Column
0                                  RU:        Am    NaN
1                 R:straight, comedian        Am    NaN
2                               R:sexy        Am    NaN
3               R:playwright, producer        Am    NaN
4      R:staring eyes, eccentric parts        Br    NaN
5                        R:second lead        Am    NaN
6                  R:basketball player        Am    NaN
7                     R:harrassed hero        Am    NaN
8                                  RU:        Un    NaN
9                                  RU:        Un    NaN
10                                 RU:        Un    NaN
11                              R:sexy  Portugse    NaN
12      R:larger-than-life personality        Br    NaN
13                             R:comic        Am    NaN
14                                 RU:        Am    NaN
15                                 RU:        Un    NaN
16                         R:cold-eyed     Am-Me    NaN
17               R:supporting comedian        Am    NaN
18                        R:sweet aunt        Am    NaN
19                  R:weak, villainous        Fr    NaN
20    R:well-bred, stuffy professional        Br    NaN
21                                 RU:        Un    NaN
22                              R:lead        Ca    NaN
23                         R:laid-back        Am    NaN
24                                 RU:        Am    NaN
25                   R:timorous sullen        Am    NaN
26                   R:pert comedienne        Am    NaN
27                                 RU:        Am    NaN
28                   R:pert light lead        Br    NaN
29                              R:soft        Am    NaN
...                                ...       ...    ...
6795                               RU:        Un    NaN
6796                               RU:        Un    NaN
6797                            R:lead        Am    NaN
6798                               RU:        Un    NaN
6799                 R:general purpose        Am    NaN
6800                           R:comic        Ko    NaN
6801                       R:character     Ch-Am    NaN
6802                      R:lcharacter        Cz    NaN
6803                               RU:        Un    NaN
6804                          R:sexpot        Am    NaN
6805                               RU:        Un    NaN
6806                               RU:        Un    NaN
6807                               RU:        Un    NaN
6808                               RU:        Un    NaN
6809                               RU:        Un    NaN
6810                       R:seductive        Fr    NaN
6811                       R:character        Am    NaN
6812                            R:lead        Sw    NaN
6813                               RU:        Un    NaN
6814                            R:lead        Ge    NaN
6815                            R:lead        Am    NaN
6816                               RU:        Un    NaN
6817                               RU:        Un    NaN
6818                               RU:        No    NaN
6819                R:sepulchral-toned        Br    NaN
6820                               RU:        Un    NaN
6821                               RU:        Un    NaN
6822                               RU:        Un    NaN
6823                               RU:        Un    NaN
6824                               RU:        Un    NaN

[6825 rows x 11 columns]

In [5]:
import qgrid
edit_acteurs = qgrid.show_grid(acteurs, show_toolbar=True)
edit_acteurs

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defau…

In [6]:
acteurs_large = acteurs.pivot(index='Stage-name', columns='date-of-birth', values='Origin')
acteurs_large.head

ValueError: Index contains duplicate entries, cannot reshape